basePath: /
definitions:
  handlers.LoginResponse:
    description: JWT токен для дальнейших запросов
    properties:
      token:
        description: JWT-токен
        example: eyJhbGciOiJIUzI1NiIs...
        type: string
    type: object
  handlers.loginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  handlers.registerSchoolRequest:
    properties:
      director:
        example: Иванов Иван
        type: string
      email:
        example: school1@example.com
        type: string
      name:
        example: Школа №1
        type: string
      password:
        example: "123456"
        type: string
    type: object
  helpers.ErrorResponse:
    properties:
      error:
        type: string
    type: object
  models.Class:
    properties:
      created_at:
        type: string
      grade:
        type: integer
      id:
        type: integer
      name:
        type: string
      school_id:
        type: integer
      student_count:
        type: integer
    type: object
  models.School:
    properties:
      class_count:
        type: integer
      created_at:
        type: string
      director:
        type: string
      id:
        type: integer
      name:
        type: string
      student_count:
        type: integer
    type: object
  models.Staff:
    properties:
      category:
        type: string
      created_at:
        type: string
      education:
        type: string
      full_name:
        type: string
      id:
        type: integer
      note:
        type: string
      ped_experience:
        type: integer
      phone:
        type: string
      position:
        type: string
      school_id:
        type: integer
      total_experience:
        type: integer
      work_start:
        type: string
    required:
    - full_name
    - phone
    - position
    type: object
info:
  contact: {}
  description: База школ с ролями ROO и School.
  title: eduBase API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Авторизация для ROO и School, возвращает JWT токен.
      parameters:
      - description: Данные для входа
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/handlers.loginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handlers.LoginResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      summary: Авторизация пользователя
      tags:
      - Auth
  /classes:
    get:
      description: ROO — все классы, School — только свои
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Class'
            type: array
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получить список классов
      tags:
      - Classes
    post:
      consumes:
      - application/json
      description: School создаёт свой класс
      parameters:
      - description: Данные класса
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/models.Class'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Class'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Создать новый класс
      tags:
      - Classes
  /classes/{id}:
    delete:
      description: School — только свои, ROO — любые
      parameters:
      - description: ID класса
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Удалить класс
      tags:
      - Classes
    get:
      description: ROO — любой класс, School — только свой
      parameters:
      - description: ID класса
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Class'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получить класс по ID
      tags:
      - Classes
    put:
      consumes:
      - application/json
      description: ROO — может обновить любой, School — только свой
      parameters:
      - description: ID класса
        in: path
        name: id
        required: true
        type: integer
      - description: Данные для обновления
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/models.Class'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Обновить класс
      tags:
      - Classes
  /roo/register_school:
    post:
      consumes:
      - application/json
      description: Доступно только для ROO. Создаёт пользователя с ролью `school`
        и запись в таблице `schools`.
      parameters:
      - description: Данные новой школы
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/handlers.registerSchoolRequest'
      produces:
      - application/json
      responses:
        "201":
          description: '{"status": "school registered"}'
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Регистрация новой школы
      tags:
      - ROO
  /roo/schools:
    get:
      description: Возвращает список всех школ (только для ROO)
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.School'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получить все школы
      tags:
      - Schools
  /roo/schools/{id}:
    delete:
      description: Удаляет школу по ID (только для ROO)
      parameters:
      - description: ID школы
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Удалить школу
      tags:
      - Schools
    get:
      description: Возвращает данные конкретной школы (только для ROO)
      parameters:
      - description: ID школы
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.School'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получить школу по ID
      tags:
      - Schools
    put:
      consumes:
      - application/json
      description: Обновляет данные школы по ID (только для ROO)
      parameters:
      - description: ID школы
        in: path
        name: id
        required: true
        type: integer
      - description: Поля для обновления
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.School'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Обновить школу
      tags:
      - Schools
  /staff:
    get:
      description: ROO — все, School — только свои. Поддерживает фильтры по всем полям.
      parameters:
      - description: ФИО
        in: query
        name: full_name
        type: string
      - description: Телефон
        in: query
        name: phone
        type: string
      - description: Должность
        in: query
        name: position
        type: string
      - description: Образование
        in: query
        name: education
        type: string
      - description: Категория
        in: query
        name: category
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Staff'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получить список сотрудников
      tags:
      - Staff
    post:
      consumes:
      - application/json
      description: Только школа может добавлять своих сотрудников
      parameters:
      - description: Данные сотрудника
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/models.Staff'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Staff'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Добавить сотрудника
      tags:
      - Staff
  /staff/{id}:
    delete:
      description: School — только своего, ROO — любого
      parameters:
      - description: ID сотрудника
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Удалить сотрудника
      tags:
      - Staff
    get:
      description: ROO — любого, School — только своего
      parameters:
      - description: ID сотрудника
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Staff'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получить сотрудника по ID
      tags:
      - Staff
    put:
      consumes:
      - application/json
      description: ROO — любого, School — только своего
      parameters:
      - description: ID сотрудника
        in: path
        name: id
        required: true
        type: integer
      - description: Обновлённые данные
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/models.Staff'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Обновить данные сотрудника
      tags:
      - Staff
  /staff/stats:
    get:
      description: Кол-во сотрудников по должностям
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: integer
            type: object
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/helpers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получить статистику по персоналу (ROO)
      tags:
      - Staff
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
